

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Place Autocomplete Address Form</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta charset="utf-8"/>
    </head>
    <body>
        <div id="locationField">
            <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
        </div>
        <form th:action="@{/addaddress}" th:object="${address}" method="post">  
            <table id="address">
                <tr>
                    <td class="slimField"><input placeholder ="Street number" class="field" id="street_number" disabled="true" th:field="*{streetNumber}"></input></td>
                </tr>
                <tr>
                    <td class="wideField" colspan="2"><input placeholder="Street name" class="field" id="route" disabled="true" th:field="*{streetName}"></input></td>
                </tr>
                <tr>
                    <td class="wideField" colspan="3"><input class="field" placeholder="City" id="locality" disabled="true" th:field="*{city}"></input></td>
                </tr>
                <tr>
                    <td class="slimField"><input class="field" placeholder="State" id="administrative_area_level_1" disabled="true" th:field="*{administrativeArea}"></input></td>
                </tr>
                <tr>
                    <td class="wideField"><input class="field" placeholder="Zip code" id="postal_code" disabled="true" th:field="*{postalCode}"></input></td>
                </tr>
                <tr>
                    <td class="wideField" colspan="3"><input class="field" placeholder="Country" id="country" disabled="true" th:field="*{country}"></input></td>
                </tr>
            </table>
            <select th:field="*{addressType}">
                <option th:Each = "e : ${addressTypeList}"  th:value="${e}" th:text="${e}" th:field="*{addressType}"></option>
            </select>
            <input type="submit" value="Zatwierdź"></input>
        </form>
        <button type="button" onclick="location.href = '/userpanel';">Powrót</button>

        <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKquDS_WCnGAUZWXhzbNzky2P6q3GtW88&amp;libraries=places&amp;callback=initAutocomplete" async="async" defer="defer">
        </script>

        <script src="/js/addressAutocomplete.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </body>
</html>