<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>Dodaj podmiot do postepowania:</div>
        <form th:object="${person}" th:action="@{/addclient}" method="post">
            <input type="text" placeholder="Tytuł" th:field="*{personTitle}"></input>
            <input type="text" placeholder="Imię" th:field="*{personFirstName}"></input>
            <input type="text" placeholder="Nazwisko" th:field="*{personLastName}"></input>
            <input type="text" placeholder="Firma" th:field="*{personCompanyName}"></input>
            <input type="text" placeholder="Nazwa potoczna" th:field="*{nickname}"></input>
            <input type="submit" value="Zarwierdź"></input>
        </form>
        <button type="button" class="btn btn-primary" onclick="location.href = '/userpanel';">Powrót</button>
    </body>
</html>
