<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Doda postępowanie</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--  jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
        <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
        <!-- Bootstrap Date-Picker Plugin -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <link href="/css/app.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="text-center">
                        <h3>Dodaj zagadnienie</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <form th:action="@{/addsubject/client}" th:object="${subject}" method="post">
                        <input type="text" class="form-control" placeholder="Tytul" th:field="*{title}"></input>
                        <input type="text" class="form-control" placeholder="Skrót" th:field="*{shortNote}"></input>
                        <input type="text" class="form-control" placeholder="Pelny opis" th:field="*{longNote}"></input>            
                        <!--bootstrap datetime picker START-->      
                        <input class="form-control" id="date" name="startDate" placeholder="MM/DD/YYY" type="text" th:field="*{startDate}"></input>
                        <input class="btn btn-primary btn-block" type="submit" value="Zapisz"></input>
                    </form>
                    <button type="button" class="btn btn-primary btn-block" onclick="location.href = '/userpanel';">Powrót</button>
                </div>
            </div>
        </div>
    </body>
    <!--KOD DATEPICKER-->
    <script src="/js/datePicker.js"></script>
</html>
<!--private String title;
private String shortNote;
private String longNote;
private Timestamp startDate;-->
