<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Doda postępowanie</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--  jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

        <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
        <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

        <!-- Bootstrap Date-Picker Plugin -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    </head>
    <body>
        <div>Doda wydarzenie do postępowania</div>

        <form th:action="@{/addevent}" th:object="${event}" method="post">
            
            <select th:field="*{eventType}">
                <table>
                    <tr th:each="et : ${eventType}">
                        <option th:value="${et.id}" th:text="${et.eventTypeName}" th:field="*{id}"></option>
                    </tr>
                </table>
            </select>
            
            <input type="text" placeholder="Opis" th:field="*{note}"></input>
            <!--bootstrap datetime picker START-->      
            <div class='col-lg-2'>
                <div class="form-group"> <!-- Date input -->
                    <input class="form-control" id="date" name="startDate" placeholder="MM/DD/YYY" type="text" th:field="*{startDate}"></input>
                </div>
            </div>
            <div class='col-lg-2'>
                <div class="form-group"> <!-- Date input -->
                    <input class="form-control" id="date" name="endDate" placeholder="MM/DD/YYY" type="text" th:field="*{endDate}"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <input type="submit" value="Zapisz"></input>
                </div>
            </div>
        </form>
        <button type="button" onclick="location.href = '/userpanel';">Powrót</button>
    </body>
    <!--KOD DATEPICKER-->

    <script src="/js/datePicker.js"></script>
</html>
