<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Doda postępowanie</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>Doda postępowanie</div>
        
        <form th:action="@{/addlawsuit}" th:object="${lawsuit}" method="post">
            <input type="text" placeholder="Sygnatura" th:field="*{courtFileReference}"></input>
            <input type="text" placeholder="Opis" th:field="*{description}"></input>
            <input type="submit" value="Zapisz"></input>
        </form>
    </body>
</html>
