<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Doda postępowanie</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--  jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

        <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
        <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

        <!-- Bootstrap Date-Picker Plugin -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
        <script src="/js/app.js"></script>
        <link href="/css/styles.css" rel="stylesheet" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="/css/app.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="text-center">
                        <h3>Doda wydarzenie do sprawy</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <form th:action="@{/addnonlawsuitevent}" th:object="${event}" method="post">
                        <input class="form-control" th:type="hidden" value="NEUTRAL" th:field="*{eventTypeEnum}"></input>
                        <input class="form-control" type="text" placeholder="Tytul wydarzenia" th:field="*{eventTitle}"></input>
                        <textarea  class="form-control" rows="3" cols="40"  placeholder="Opis" th:field="*{note}"></textarea>
                        <!--bootstrap datetime picker START-->      
                            <input class="form-control" id="date" name="eventDate" placeholder="MM/DD/YYY" type="text" th:field="*{eventDate}"></input>
                            <input class="form-control" type="checkbox" name="reminder" th:field="*{reminder}">Przypomnienie</input>
                        <input type="submit" class="btn btn-primary btn-block" value="Zapisz"></input>
                    </form>
                    <button type="button" class="btn btn-primary btn-block" onclick="location.href = '/userpanel';">Powrót</button>
                </div>
            </div>
        </div>
    </body>
    <!--KOD DATEPICKER-->

    <script src="/js/datePicker.js"></script>
</html>
