

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">



    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>Dodaj podmiot</div>
        <form th:action="@{/addpersonasparty}" th:object="${partyTypePersonWrap}" method="post">
            <select>
                <table>
                    <tr th:each="t : ${partyTypeList}">
                        <option th:value="${t.id}" th:text="${t.name}" th:field="*{partyType.id}"></option>
                    </tr>
                </table>
            </select>
            <input type="text" placeholder="Tytuł" th:field="*{person.personTitle}"></input>
            <input type="text" placeholder="Imię" th:field="*{person.personFirstName}"></input>
            <input type="text" placeholder="Nazwisko" th:field="*{person.personLastName}"></input>
            <input type="text" placeholder="Firma" th:field="*{person.personCompanyName}"></input>
            <input type="submit" value="Zarwierdź"></input>
            <p>Dla GIT</p>
        </form>
    </body>
</html>