

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    


    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>Dodaj podmiot</div>
        <form th:object="${person}" th:action="@{/addperson}" method="post">
            <input type="text" placeholder="Tytuł" th:field="*{personTitle}"/>
            <input type="text" placeholder="Imię" th:field="*{personFirstName}"/>
            <input type="text" placeholder="Nazwisko" th:field="*{personLastName}"/>
            <input type="text" placeholder="Firma" th:field="*{personCompanyName}"/>
            <input type="submit" value="Zarwierdź"/>
        </form>
    </body>
</html>