
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
        <script src="/js/app.js"></script>
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="/css/app.css" rel="stylesheet"/>
    </head>
    <body>
        <div>Dodaj skan</div>
        <form action="/addscan" method="post" enctype="multipart/form-data">
            <input type="file" name="scanMultipart" id="fileUpload" accept="image/*"></input>
            <input type="text" name="scanName" placeholder="Nazwa skanu"></input>
            <button type="submit">Dodaj</button>
        </form>
        <button type="button" onclick="location.href = '/userpanel';">Powrót</button>
    </body>
</html>
