<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta charset="utf-8"/>
    </head>
    <body>
        <div>TODO write content</div>
        <!--postepowania-->
        <table>
            <tr th:each="l : ${lawsuit.event}">
                <td th:text="${l.id}"></td>
                <td th:text="${l.note}"></td>
            </tr>
        </table>       
        <button type="submit" name="lawsuitEventsButton" value="${lawsuit.id}" th:onclick="'location.href = \'' + @{/addevent(lawsuitId=${lawsuit.id})} + '\''">Dodaj wydarzenie</button>
        <!--strony-->
<!--        <table>
            <tr th:each="p : ${lawsuit.party}">
                <td th:text="${p.id}"></td>
            </tr>
        </table>-->
<table>
    <tr th:each="p : ${lawsuit.party}">
        <td>
            <tr th:each="per: ${party.person}">
                <p th:text="${per.personLastName}"></p>
            </tr>
        </td>
    </tr>
</table>
        <!--powrót-->
        <button type="button" onclick="location.href = '/userpanel';">Powrót</button>

    </body>
</html>



