<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
        <!-- CSS Files -->
        <!--        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
                <link href="/assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
                <script src="/js/app.js"></script>
                <link href="/css/styles.css" rel="stylesheet" />-->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="/css/app.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Panel osoby:</h3>    
                        <h1 th:text = "*{person.personFirstName} + ' ' + *{person.personLastName}"></h1>
                </div>
                <div class="panel-body">
                            <div class="panel panel-primary">
                                <div class="card-header">
                                    <div class="panel-header">
                                        <h3 class="text-center">Dane kontaktowe</h3>
                                        <div class="panel-body">
                                            <table class="table">
                                                <tr>
                                                    <td>Tel stacjonarny</td>
                                                    <td>Komórka</td>
                                                    <td>Mail:</td>
                                                </tr>
                                                <tr th:each="c : ${person.contact}">
                                                    <td th:text="${c.phone}"/>
                                                    <td th:text="${c.mobilePhone}"/>
                                                    <td th:text="${c.mail}"/>
                                                </tr>  
                                            </table>
                                            <button type="button" class="btn btn-primary btn-block" th:onclick="'location.href = \'' + @{/addcontact(personId=${person.id})} + '\''">Dodaj kontakt</button>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="panel panel-primary">
                            <div class="panel-header">
                                <h4 class="text-center">Adres</h4>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>Nr</td>
                                        <td>Ulica</td>
                                        <td>Miasto</td>
                                        <!--<td>Województwo</td>-->
                                        <td>Kod pocztowy</td>
                                        <!--<td>Kraj</td>-->
                                        <td>Rodzaj adresu</td>
                                    </tr>
                                    <tr th:each="a : ${person.address}">
                                        <td th:text="${a.streetNumber}"/>
                                        <td th:text="${a.streetName}"/>
                                        <td th:text="${a.city}"/>
                                        <!--<td th:text="${a.administrativeArea}"/>-->
                                        <td th:text="${a.postalCode}"/>
                                        <!--<td th:text="${a.country}"/>-->
                                        <td th:text="${a.addressType}"/>
                                        <td><button type="button" class="btn btn-primary btn-block" th:onclick="'location.href = \'' + @{/deleteadress(addressId=${a.id})} + '\''">Kasuj</button></td>
                                    </tr>  
                                </table>
                                <button type="button" class="btn btn-primary btn-block" th:onclick="'location.href = \'' + @{/addaddress(personId=${person.id})} + '\''">Dodaj adres</button>
                            </div>
                        </div>

                    <button type="button" class="btn btn-primary btn-block"  th:onclick="'location.href = \'' + @{/lawsuitpanel(lawsuitId=${lawsuitId})} + '\''">Powrót</button>
                </div>
            </div>
        </div>
    </body>
</html>