<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
<!--        Wydarzenie w sprawie: <a th:text="${event.lawsuit.courtFileReference}"></a>
        <p>Opis wydarzenia: <a th:text="${event.note}"></a></p>
        <div>
            <div>
                <div>Dodaj skan</div>
                <form th:object="${scan}" method="post" enctype="multipart/form-data">       
                    <input type="file" name="scanMultipart" accept="image/*"></input>
                    <input type="text" th:field="*{scanName}" placeholder="Nazwa skanu"></input>        
                    <button type="submit">Dodaj</button>
                </form>
            </div>
            <div>
                <p>SKANY PRZYPISANE</p>
                <tr>
                    <td>Nazwa skanu</td>
                    <td>Opis wydarzenia</td>
                </tr>                  
                <tr>
                    <th:block th:each:= "s : ${scanList}">
                        <td th:text="${s.id}"></td>
                        <td th:text="${s.scanName}"></td>
                        <td th:text="${s.event.note}"></td>
                    </th:block>
                </tr>
            </div>
        </div>
        <button type="submit" th:onclick="'location.href = \'' + @{/editevent(eventId=${event.id})} + '\''">Edytuj</button>
        <button type="submit" th:onclick="'location.href = \'' + @{/delete/event(eventId=${event.id})} + '\''">Kasuj</button>-->
        <button type="button" onclick="location.href = '/userpanel';">Powrót</button>
    </body>
</html>