<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <h1 th:text = "*{person.personFirstName} + ' ' + *{person.personLastName}"></h1>

        <p>Dane kontaktowe</p>
        <table>
            <tr>
                <td>Tel stacjonarny</td>
                <td>Komórka</td>
                <td>Mail:</td>
            </tr>
            <tr th:each="c : ${person.contact}">
                <td th:text="${c.phone}"/>
                <td th:text="${c.mobilePhone}"/>
                <td th:text="${c.mail}"/>
                <!--<td><button type="button" th:onclick="'location.href = \'' + @{/deleteadress(addressId=${a.id})} + '\''">Kasuj</button></td>-->
            </tr>  
        </table>        
        
        <button type="button" th:onclick="'location.href = \'' + @{/addcontact(personId=${person.id})} + '\''">Dodaj kontakt</button>
        <p>Adres</p>

        <table>
            <tr>
                <td>Nr</td>
                <td>Ulica</td>
                <td>Miasto</td>
                <td>Województwo</td>
                <td>Kod pocztowy</td>
                <td>Kraj</td>
                <td>Rodzaj adresu</td>
            </tr>
            <tr th:each="a : ${person.address}">
                <td th:text="${a.streetNumber}"/>
                <td th:text="${a.streetName}"/>
                <td th:text="${a.city}"/>
                <td th:text="${a.administrativeArea}"/>
                <td th:text="${a.postalCode}"/>
                <td th:text="${a.country}"/>
                <td th:text="${a.addressType}"/>
                <td><button type="button" class="btn btn-danger btn-icon btn-sm " th:onclick="'location.href = \'' + @{/deleteadress(addressId=${a.id})} + '\''">Kasuj</button></td>
            </tr>  
        </table>





        <button type="button" th:onclick="'location.href = \'' + @{/addaddress(personId=${person.id})} + '\''">Dodaj adres</button>
        <button type="button" onclick="location.href = '/userpanel';">Powrót</button>
    </body>
</html>