<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Doda postępowanie</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
                <link href="/assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
                <script src="/js/app.js"></script>
                <link href="/css/styles.css" rel="stylesheet" />-->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="/css/app.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3>Dodaj postępowanie</h3></div>
                <div class="panel-body">
                    <form th:action="@{/addlawsuituesrpanel}" th:object="${lawsuit}" method="post">
                        <div class="row">
                            <div class="col-lg-3">
                                <select  class="form-control" id="court">
                                    <option  th:each="c : ${courtList}" th:value="${c.id}" th:text="${c.courtName}"></option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <select  class="form-control" id="courtDepartment" th:field="*{courtDepartment.id}">
                                    <option th:each="cd : ${courtDepartmentList}" th:field="*{courtDepartment.id}" th:value="${cd.id}" th:text="${cd.courtDepartmentName}" th:attr="data-chained=${cd.court.id}"></option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <select  class="form-control" id="client">
                                    <option th:each="c : ${clientList}" th:value="${c.id}" th:text="${c.personLastName}"></option>                    
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <select  class="form-control" id="subject" th:field="*{subject.id}">
                                    <option th:each="s : ${subjectList}" th:value="${s.id}" th:field="*{subject.id}" th:text="${s.title}" th:attr="data-chained=${s.person.id}"></option>
                                </select>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Sygnatura" th:field="*{courtFileReference}"></input>
                        <input type="text" class="form-control" placeholder="Opis" th:field="*{description}"></input>
                        <input type="submit" class="btn btn-primary btn-block" value="Zapisz"></input>
                    </form>

                    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
                    <script src="/js/jquery.chained.js"></script>
                    <script src="/js/jquery.chained.min.js"></script>
                    <script src="/js/jquery.chained.remote.js"></script>
                    <script src="/js/jquery.chained.remote.min.js"></script>
                    <script src="/js/chainCourttoCourtDepartments.js"></script>
                    <script type="text/javascript" charset="utf-8"></script>
                    <script type="application/javascript">

                        $(function() {
                        console.log( "ready 1!" );
                        $("#courtDepartment").chained("#court");
                        });

                        $(function() {
                        console.log( "ready 2!" );
                        $("#subject").chained("#client");
                        });

                    </script>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-block" onclick="location.href = '/userpanel';">Powrót</button>
        </div>
    </body>
</html>